
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}
@font-face {
  font-family: Raleway;
  src: url(/fonts/Raleway-VariableFont_wght.ttf);
}

.grid-container{
  height: 100vh;
  display: grid;
  margin: auto;
  grid-template-areas: 
  'header header header'
  '. hero .'
  '. . .'
  '. catalog .'
  '. . .'
  'promo promo promo'
  '. . .'
  '. comand .'
  '. . .'
  'footer footer footer'
  ;
  grid-template-columns: 165px 1fr 165px ;
  grid-template-rows:100px 620px 70px 1564px 70px 574px 70px 440px 70px 168px ;
}

/* HEADER */
.header{
  grid-area:header; 
  background: #E1EDE6;
  display: flex;
  
}

.title{
  color: #598D66;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin:0;
  margin-top: 38px;
}

.logo{
  display: flex;
  margin-left: 165px;
  margin-right: 497px;

}

.logo-img{
  width: 35px;
  height: 35px;
  margin-top: 33px;
  margin-right: 8px;
}

.list_header{
  display: flex;
  list-style: none;
  margin-top: 33px;
}

.header_item{
  color: #2C2D35;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 58px;
}

.header_item:hover{
  color:#598D66;
  transition: 1s;
  cursor: pointer;
}
.header_item:active{
  color:#376B44;
}
.header_item:focus{
  background: #D4E8D9;
  color:#2C2D35;
}
.header_item:nth-last-child(1){
  margin-right: 0px;
}

/* HERO */
.hero{
  grid-area:hero;
  width: 1110px;
  display: flex;
  margin: auto;
}

.hero_title{
  color: #2C2D35;
  font-family: Raleway;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 66px;
  margin:0;
  margin-top: 145px;
  margin-bottom: 20px;
}

.hero_link{
  color: #598D66;
  font-family: Raleway;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 66px;
}

.hero_description{
  color: #86928B;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  margin: 0;
  margin-bottom: 60px;
  }

.hero_btn{
  height: 65px;
  padding: 20px 60px;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  border: 1px solid #598D66;
  color: #598D66;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor:pointer;
  transition: 0.5s;
}

.hero_btn:hover{
  transition: 0.5s ease-out;
  background: #598D66;
  color:#F4F6F5;
}

.hero_btn:active{
  background-color:#376B44;
}

/* CATALOG */

.catalog{
  grid-area:catalog;
  margin: auto;
}

.catalog_header{
  display: flex;
}

.catalog_title{
  color: #2C2D35;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 44px */
  padding-left: 38px;
  margin: 0;
  margin-right: 357px;
}

.catalog_btn-list{
  display: flex;
  flex-direction: row;
  list-style: none;
  
}

.catalog-item_button{
  width: auto;
  height: 44px;
  padding: 10px 20px;
  align-items: flex-start;
  border-radius: 20px;
  background: #D4E8D9;
  border: none;
  color: #2C2D35;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 30px;
}

.catalog-list{
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}
.catalogg-list{
  display: none;
}

.catalogg-list-active{
  display: block;
}
.catalog-item_button:hover{
  background: #598D66;
  color:#F4F6F5;
  transition: 0.4s;
}

.catalog-item{
  width: 350px;
  height: 730px;
  background: #E1EDE6;
  margin-right: 30px;
  margin-bottom: 30px;
}

.catalog-item:nth-child(3){
  margin-right: 0;
}

.card{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.author{
  color: #86928B;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin:0;
  padding-left: 20px;
  padding-bottom: 10px;
}

.name-art{
  color: #2C2D35;
  font-family: Raleway;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin:0;
  padding-left: 20px;
  padding-bottom: 8px;
}

.color-art{
  color: #2C2D35;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 30px;
  }

.price-art{
  color: #598D66;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 20px;
}

.primary-btn{
  width: 310px;
  height: 65px;
  padding: 20px 60px;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  border: 1px solid #598D66;
  background-color:#E1EDE6;
  color: #598D66;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin:0;
  margin-left: 20px;
  transition: 0.3s;
}

.primary-btn:hover{
  background: #598D66;
  color:#F4F6F5;
  transition: 0.3s;
}


/* PROMO */

.promo{
  grid-area:promo;
  background-image: url(/img/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0D2B43;
  mix-blend-mode: overlay;
  }

.block_title{
  display: flex;
}
  
.promo_collection{
margin-left: 165px;
}

.star{
  margin-top: 70px;
  margin-right: 20px;
}

.promo_title{
  width: 421px;
  margin: 0;
  margin-top: 70px;
  margin-bottom: 20px;
  color: #F4F6F5;
  color: #F4F6F5;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.promo_description{
  width: 540px;
  margin:0;
  margin-bottom: 60px;
  color: #FFF;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}

.promo_button{
  display: inline-flex;
  height: 65px;
  padding: 20px 60px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background: #EEDB6D;
  color: #2C2D35;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}


/* COMAND */

.comand{
  grid-area:comand;
}

.comand-content{
  display: flex;
  flex-direction: row;
}

.title-descr{
  margin-top: 124px;
  color: #2C2D35;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 44px */
}

.comand-text-descr{
  width: 635px;
  color: #2C2D35;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  }

.comand-pict{
  margin-right: 30px;
}

.comand-photo{
  display: flex;
  flex-direction: row;
  padding: 0;
}

.item-photo{
  margin-right: 30px;
}


/* FOOTER */
.footer{
  grid-area:footer;
  background: #E1EDE6;
}

.footer-content{
  display: flex;
  flex-direction: row;
}

.logotip{
  display: flex;
  flex-direction: column;
  margin-left: 165px;
}

.footer-title{
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-top: 29px;
  margin-bottom: 41px;
  color: #598D66;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logo-footer-svg{
  margin: 0;
  margin-top: -5px;
  margin-right: 8px;
}


.tel{
  margin: 0;
  margin-bottom: 8px;
  color: #2C2D35;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.link{
  margin: 0;
  margin-top:6px;
  color: #86928B;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}

h4{
  margin: 0;
  margin-top: 24px;
  color: #2C2D35;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  }

.repr{
  margin: 0;
  margin-left: 115px;
  margin-right: 30px;
}

.new{
  margin: 0;
  margin-right: 30px;
}

.coopyr{
  margin:0;
  margin-left: 253px;
}

.icon-site{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-top: 23px;
}

.item-icon{
  margin-right: 30px;
}

.copy{
  color: #86928B;
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 14.4px */
}

.copy2{
  color: #86928B;
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 14.4px */
}